In [47]:
# module imports
import pandas as pd
import numpy as np
from datetime import datetime

In [48]:
# setting file paths
path_bordeaux = "./data/InstancesV1/InstanceBordeauxV1.xlsx"
path_finland = "./data/InstancesV1/InstanceFinlandV1.xlsx"
path_guinea_golf = "./data/InstancesV1/InstanceGuineaGolfV1.xlsx"
path_italy = "./data/InstancesV1/InstanceItalyV1.xlsx"
path_poland = "./data/InstancesV1/InstancePolandV1.xlsx"

path_current = path_finland

In [49]:
df_employees = pd.read_excel(path_current, sheet_name = "Employees")
df_employees.set_index("EmployeeName")

,Latitude,Longitude,Skill,Level,WorkingStartTime,WorkingEndTime
EmployeeName,,,,,,
Aleksi,61.578308,25.210354,Plumbing,1,8:00am,6:00pm
Livia,61.578308,25.210354,Plumbing,2,8:00am,6:00pm
Oskar,61.578308,25.210354,Plumbing,2,8:00am,6:00pm
Sebastian,61.578308,25.210354,Plumbing,1,8:00am,6:00pm

In [50]:
# definition of Employee class
class Employee:
    def __init__(self, name, latitude, longitude, skill, level, start_time, end_time):
        self.name = name
        self.latitude = latitude
        self.longitude = longitude
        self.skill = skill
        self.level = level
        self.start_time = start_time
        self.end_time = end_time

    def start_time_string(self):
        return self.start_time.strftime('%I:%M%p')

    def end_time_string(self):
        return self.end_time.strftime('%I:%M%p')

In [51]:
# definition of Task class
class Task:
    def __init__(self, task_id, latitude, longitude, duration, skill, level, start_time, end_time):
        self.id = task_id
        self.latitude = latitude
        self.longitude = longitude
        self.duration = duration
        self.skill = skill
        self.level = level
        self.start_time = start_time
        self.end_time = end_time

In [52]:
# reading dataframe into python objects
employees = []

for index, row in df_employees.iterrows():
    # parse the start time and end time into datetime object
    start_time = datetime.strptime(row["WorkingStartTime"], '%I:%M%p')
    end_time = datetime.strptime(row["WorkingEndTime"], '%I:%M%p')

    employee = Employee(row["EmployeeName"],
                        row["Latitude"],
                        row["Longitude"],
                        row["Skill"],
                        row["Level"],
                        start_time,
                        end_time)
    employees.append(employee)

In [53]:
# test on employee object
first_employee = employees[0]
print(f"Employee name: {first_employee.name} of type {type(first_employee.name)}")
print(f"Employee latitude: {first_employee.latitude} of type {type(first_employee.latitude)}")
print(f"Employee longitude: {first_employee.longitude} of type {type(first_employee.longitude)}")
print(f"Employee start time: {first_employee.start_time_string()} of type {type(first_employee.start_time)}")
print(f"Employee end time: {first_employee.end_time_string()} of type {type(first_employee.end_time)}")
print(f"Employee level: {first_employee.level} of type {type(first_employee.level)}")
print(f"Employee skill: {first_employee.skill} of type {type(first_employee.skill)}")

Employee name: Aleksi of type <class 'str'>
Employee latitude: 61.578308 of type <class 'float'>
Employee longitude: 25.2103536 of type <class 'float'>
Employee start time: 08:00AM of type <class 'datetime.datetime'>
Employee end time: 06:00PM of type <class 'datetime.datetime'>
Employee level: 1 of type <class 'int'>
Employee skill: Plumbing of type <class 'str'>

In [56]:
# Test
print(first_employee.end_time - first_employee.start_time)

datetime.timedelta(seconds=36000)

In [29]:
my_date < "16:00"

TypeError: '<' not supported between instances of 'datetime.datetime' and 'str'